body {
  font-family: poppins, sans-serif;
}

.parent-container {
  display: flex;
  position: static;
  height: 718px;
  width: 375px;
  flex-direction: column;
}

.image {
  position: static;
  margin-top: 130.85px;
  width: 375px;
  height: 587.15px;
  margin-left: -10px;
}

.header-section {
  display: flex;
  position: absolute;
  flex-direction: row;
  margin-top: 26px;
  width: 100%;
  height: 48px;
  align-items: center;
}

.logo {
  display: flex;
  width: 100px;
  height: 20px;
  margin-left: 24px;
  position: static;
  font-size: 18px;
  line-height: 20px;
  font-style: normal;
  text-align: center;
  align-items: center;
  color: #6070ff;
  font-weight: bold;
  padding-right: 187px;
}

.logo a {
  text-decoration: none;
}

.hamberger-menu {
  display: flex;
  position: absolute;
  height: 20px;
  width: 16px;
  margin-right: 35px;
}

.hamberger-menu a {
  color: #6070ff;
}

.headline-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  width: 375px;
  height: 640px;
  margin-top: 114px;
}

.name {
  display: flex;
  position: static;
  margin-top: 114px;
  margin-left: 24px;
  height: 150px;
  width: 327px;
  font-size: 40px;
  line-height: 52px;
  font-weight: 700;
  font-style: normal;
  color: #172b4d;
}

.description {
  display: flex;
  position: static;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  width: 327px;
  height: 146px;
  text-align: left;
  color: #344563;
  margin-top: 6px;
  margin-left: 24px;
  line-height: 24px;
}

.contact-message {
  display: flex;
  position: static;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: #7f8cff;
  margin-left: 24px;
}

.contact-message a {
  text-decoration: none;
}

.social-media {
  margin-left: 24px;
  width: 170.17px;
  height: 20px;
}

.social-media ul {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding-left: 0.01px;
}

.social-media ul li {
  list-style: none;
}

.social-media ul li a {
  color: #505f79;
}

.works-section {
  display: flex;
  flex-direction: column;
  margin-top: 54px;
}

.card {
  display: flex;
  width: 327px;
  flex-direction: column;
  position: static;
  border-radius: 16px;
  margin-top: 88px;
  padding: 16px;
}

.image1 {
  height: 220px;
  width: 295px;
  border-radius: 8px;
}

.card-head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 32px;
  width: 236px;
  padding-left: 0;
}

h3 {
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 44px;
  text-align: left;
  color: #172b4d;
  margin-top: 12px;
  margin-bottom: 12px;
}

.tonic {
  padding-left: 0;
  margin-top: 12px;
}

.tonic li {
  list-style: none;
}

.headline1 {
  height: 80px;
  width: 295px;
}

.headline2 {
  height: 124px;
  width: 295px;
}

.canopy1 {
  list-style: none;
  height: 16px;
  width: 55px;
  left: 0;
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px;
  color: #344563;
}

.canopy {
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px;
  color: #7a869a;
}

.cardsub {
  list-style: none;
  display: flex;
  padding-left: 0;
  justify-content: space-between;
  justify-self: left;
  height: 24px;
  width: 203px;
}

.list {
  box-sizing: border-box;
  padding: 4px 12px;
  background-color: #ebebff;
  color: #6070ff;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  border-radius: 8px;
  justify-content: space-between;
}

p {
  height: 76px;
  width: 295px;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #344563;
}

button {
  height: 48px;
  width: 124px;
  box-sizing: border-box;
  font-size: 17px;
  color: #396df2;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  border-radius: 8px;
  padding: 12px;
  border: 1px solid #6070ff;
  margin-top: 12px;
}

.personal-info {
  display: flex;
  flex-direction: column;
  margin-top: 54px;
}

.about-me {
  display: flex;
  width: 375px;
  flex-direction: column;
  position: static;
  margin-top: 88px;
  padding-top: 114px;
  margin-top: 0px;
}

.about-me h2 {
  height: 101px;
  width: 327px;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 52px;
  text-align: left;
  color: #172b4d;
}

.about-me p {
  height: 144px;
  width: 327px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #344563;
}

.about-me a {
  height: 24px;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  color: #7f8cff;
  text-decoration: none;
}

.social-media2 {
  width: 200px;
  height: 40px;
}

.social-media2 ul {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding-left: 10px;
}

.social-media2 ul li {
  list-style: none;
}

.social-media2 ul li a {
  color: #505f79;
}

.about-me button {
  height: 48px;
  width: 162px;
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  box-sizing: border-box;
}

.about-me ul {
  padding-left: 0px;
}
.about-me ul li {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  margin-top: 12px;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  list-style-type: none;
  width: 327px;
  padding: 0px;
}

.langguages ul li {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  height: 66.7155990600586px;
  width: 303px;
  left: 12px;
  top: 12px;
}
